// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: start;
    li {
        margin: 0;
        a {
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.btn-floating.btn-small {
    font-size: 2rem;
    margin: 1rem;
}

.new_article,
.edit_article,
.new_comment
 {
    width: 50%;
    margin: 0 auto;

    #article_title,
    #comment_author_name {
        border-top: 2px solid green;
    }

    label {
        font-size: 1rem;
    }

    textarea {
        outline: none;
    }
}

.hs,
.post_comment {
    margin: 1rem 4rem;
    font-size: 3rem;
}

.page-footer {
    width: 100%;
}

.article_body {
    text-align: left;
    font-size: 1rem;
    padding: 1rem;
    border: 2px solid green;
    width: 60%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;

    a {
        background-color: cyan;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        font-size: 1.2rem;

        &:focus {
            background-color: #555;
        }
    }
}

#articles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    li {
        margin: 1.5rem 0;
    }
    .article_title {
        font-size: 1.2rem;
        font-weight: bold;
        transition: 0.2s;
        &:hover {
            background-color: #555;
            padding: 1rem;
            color: #fff;
        }
        &:focus {
            font-size: 1.5rem;
            color: red;
        }
    }
}

.comment_container {
    // display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.comment_headline {
    font-size: 2rem;
    margin-left: 1rem;
}

.comment_author {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: bold;
    text-transform: lowercase;
}

.comment {
    font-size: 1.2rem;
    padding-left: 1rem;
    border: 1px solid #999;
    margin: 0 0.5rem;
}

.date {
    font-size: 0.9rem;
    color: #555;
    margin-right: 0.5rem;
    float: right;
}